/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
h1::before {
    content: "🌟 ";
    font-size: 30px;
    vertical-align: middle;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}
.email-label::before {
    content: "💌 ";
    font-size: 30px;
    vertical-align: middle;

}
.password-label::before {
    content: "🔑 ";
    font-size: 30px;
    vertical-align: middle;
}

input,
textarea,
select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
select {
    width: 100%;
}
input:focus,
textarea:focus {
    background-color: #eee;
}
input:required,
textarea:required {
    border: 2px solid red;
}
input:invalid {
    background-color: #ff00e6;
}
input:valid{
    background-color: #ffc8f9;
}
button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:link,
button:visited,
button:focus {
    background-color: #4cae4c;
}
button:hover {
    transition: 0.5s;
    background-color: #000;
    transform:scale(1.5) rotate(360deg);
}

/* Pseudo-elements for Email and Phone Labels */
/* Add ✉️ and 📞 icons before the labels */


/* Styling the Terms and Conditions Link */
.terms-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}
.terms-link:hover {
    color: #000;
    text-decoration: underline; 
    transition: 0.3s;
}
/* Add hover and visited states for the link */
/* ::before pseudo-element for <h1> */
